<div>
  <link href="./blog-post-card1.css" rel="stylesheet" />
  <div class="blog-post-card1-blog-post-card">
    <img
      alt="image"
      src="https://images.unsplash.com/photo-1547841243-eacb14453cd9?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDIyfHxjaXR5fGVufDB8fHx8MTYyNjE4NjYxMg&ixlib=rb-1.2.1&w=1000"
      class="blog-post-card1-image"
    />
    <div class="blog-post-card1-container">
      <span class="blog-post-card1-text"><span>CATEGORY</span></span>
      <span class="blog-post-card1-text1">
        <span>Lorem ipsum dolor sit amet</span>
      </span>
      <span class="blog-post-card1-text2">
        <span>
          Lorem ipsum dolor sit amet, consectetur, adipiscing elit. Sed non
          volutpat turpis. ​ Mauris luctus rutrum mi ut rhoncus. Integer in
          dignissim tortor. Lorem ​​ ipsum dolor sit amet, consectetur
          adipiscing elit.
        </span>
      </span>
      <div class="blog-post-card1-container1">
        <div class="blog-post-card1-profile">
          <img
            alt="profile"
            src="https://images.unsplash.com/photo-1506794778202-cad84cf45f1d?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDd8fG1hbiUyMHBvcnRyYWl0fGVufDB8fHx8MTYyNjQzMTMwMw&ixlib=rb-1.2.1&h=1200"
            image_src="https://images.unsplash.com/photo-1506794778202-cad84cf45f1d?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDd8fG1hbiUyMHBvcnRyYWl0fGVufDB8fHx8MTYyNjQzMTMwMw&amp;ixlib=rb-1.2.1&amp;h=1200"
            class="blog-post-card1-image1"
          />
          <span class="blog-post-card1-text3"><span>Jon Doe</span></span>
        </div>
      </div>
    </div>
  </div>
</div>
