<div>
  <link href="./testimonials-card.css" rel="stylesheet" />
  <div class="testimonials-card-container">
    <img
      alt="image"
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/69/Airbnb_Logo_B%C3%A9lo.svg/2560px-Airbnb_Logo_B%C3%A9lo.svg.png"
      class="testimonials-card-image"
    />
    <div class="testimonials-card-container1">
      <img
        alt="image"
        src="https://play.teleporthq.io/static/svg/placeholders/no-image.svg"
        class="testimonials-card-image1"
      />
      <div class="testimonials-card-container2">
        <span class="testimonials-card-text lead1">
          <span>
            To quickly start my startup landing page design, I was looking for a
            landing page UI Kit. Landify is one of the best landing page UI kit
            I have come across. It’s so flexible, well organised and easily
            editable.
          </span>
        </span>
        <span class="subtitle1"><span>Floyd Miles</span></span>
        <span class="testimonials-card-text2 lead2">
          <span>Vice President, GoPro</span>
        </span>
      </div>
    </div>
  </div>
</div>
